.page-logo {
  border-radius: 16px;
  height: 45px;
  width: 45px !important;
}

.Toastify__toast-body {
  font-size: 12px;
  font-weight: 500;
  margin: 0 !important;
  padding: 0 !important;
}
.Toastify__toast {
  min-height: 45px !important;
  background-color: var(--primary) !important;
  border-radius: var(--radius) !important;
  color: white !important;
}

.Toastify__toast-icon svg,
.Toastify__close-button svg {
  color: white !important;
}

@media screen and (max-width: 700px) {
  .Toastify__toast {
    margin: 10px 20px;
  }
}

.popup-overlay {
  backdrop-filter: blur(2px);
}
